<head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<header>
  <div class="header-logo">
    <!--トップページへのリンクにしてください-->
    <a href="/" style="color:black"><i class="fas fa-car"> CSN</i></a>
  </div>
  <ul class="header-menus">
    <li>
      <!--サービス紹介ページへのリンクにしてください-->
      <a href="/about">サービス</a>
    </li>
  </ul>
</header>
<div class="about-main">
  <h2>サービス</h2>
  <p>最高級な車を共有</p>
  <img class="about-img" src="/lexus.jpg">
</div>

<div class="footer">
    <div class="footer-logo" style="color:black"><i class="fas fa-car"> CSN</i>
</div>
        <ul class="footer-list">
          <li><a href="/about"  style="color:black">サービス</a></li>
          <li><a href="/about"  style="color:black">ニュース</a></li>
          <li><a href="/about"  style="color:black">料金</a></li>
          <li><a href="/about"  style="color:black">ラインナップ</a></li>
          <li><a href="/about"  style="color:black">会社概要</a></li>
          <li><a href="/about"  style="color:black">採用情報</a></li>
          <li><a href="/about"  style="color:black">お問い合わせ</a></li>
        </ul>
      </div>
    </div>
