<head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<header>
  <div class="header-logo">
    <!--トップページへのリンクにしてください-->
    <a href="/"><img class="col-thumb" src="/cahtwork.jpg" width="450px" height="48px"></a>
  </div>
  <ul class="header-menus">
    <li>
      <!--サービス紹介ページへのリンクにしてください-->
      <a href="/recruit">採用情報</a>
    </li>
  </ul>
</header>
<div class="about-main">
  <h2>サービス</h2>
  <p>最高級な車を共有</p>
  <img class="about-img" src="/lexus.jpg">
</div>

<div class="footer">
    <div class="footer-logo" style="color:black"><a href="/"><img class="col-thumb" src="/cahtwork.jpg" width="450px" height="48px"></a>
</div>
        <ul class="footer-list">
          <li><a href="/service" style="color:black">SERVICE</a></li>
          <li><a href="/news" style="color:black">NEWS</a></li>
          <li><a href="/price" style="color:black">料金</a></li>
          <li><a href="/about" style="color:black">ABOUT US</a></li>
          <li><a href="/recruit" style="color:black">RECRUIT</a></li>
          <li><a href="/contact" style="color:black">CONTACT</a></li>
        </ul>
      </div>
    </div>
