<head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<header>
  <div class="header-logo">
    <a href="/"><i class="fas fa-car"> CSN</i></a>
  </div>
  <ul class="header-menus">
    <li><a href="/about">サービス</a></li>
    <li><a href="/about">ニュース</a></li>
    <li><a href="/about">料金</a></li>
    <li><a href="/about">ラインナップ</a></li>
    <li><a href="/about">会社概要</a></li>
    <li><a href="/about">採用情報</a></li>
    <li><a href="/about">お問い合わせ</a></li>
  </ul>
</header>

<div class="main top-main">
  <div class="copy-container">
    <h3>Car Share Navi</h3>
    <p>所有から共有へ</p>
    <a href="/"><span style="color:blue">さらに詳しく</span></a>
  </div>

  <div class="contents">
    <h3 class="section-title"></h3>

  <div class="copy-container2">
    <h3>Mooover</h3>
    <p>所有から共有へ</p>
    <a href="/"><span style="color:blue">さらに詳しく</span></a>
  </div>

  <div class="contents">
    <h3 class="section-title"></h3>

    <div class="copy-container3">
    <h3>Mooover</h3>
    <p>所有から共有へ</p>
    <a href="/"><span style="color:blue">さらに詳しく</span></a>
  </div>

  <div class="contents">
    <h3 class="section-title"></h3>

<div class="col-b">
  <div class="col">
	  <h4><span style="color:black">ジャガー</span></h4>
    <span class="label-info">スポーツ</span>
    <span class="label-info2">れナンバー</span>
    <span class="label-info3">現行モデル</span>
	  <a href="/"><img class="col-thumb" src="/jaguar.jpg" width="400px" height="280px"></a>
	 &nbsp;&nbsp;<h5><span style="color:black">
   <p>PRICE:32,400円～</p><br>
    <h6 class="section-title-car"></h6>
   エクスチェンジドライブ（マンスリー）<br>
   Mプラン(月額)：290,000円～<br>
   車両ID：001<br>
   年式：2018年式<br>
   新車購入価格：1,200万円<br>
   <br>
  <a href="/" class="square_btn">車両詳細/お申し込み</a>
</div>

<div class="col">
	  <h4><span style="color:black">ランボルギーニ</span></h4>
    <span class="label label-info">スポーツ</span>
    <span class="label-info2">れナンバー</span>
    <span class="label-info3">現行モデル</span>
    <span class="label-info4">4WD</span>
	  <a href="/"><img class="col-thumb" src="/lamborghini.jpg" width="400px" height="280px"></a>
	 &nbsp;&nbsp;<h5><span style="color:black">
   <p>PRICE:92,400円～</p><br>
   <h6 class="section-title-car"></h6>
   エクスチェンジドライブ（マンスリー）<br>
   Uプラン(月額)：700,000円～<br>
   車両ID：002<br>
   年式：2018年式<br>
   新車購入価格：3,500万円<br>
   <br>
   <a href="/" class="square_btn">車両詳細/お申し込み</a>
</div>


<div class="col-b">
  <div class="col">
	  <h4><span style="color:black">レクサス</span></h4>
    <span class="label-info">スポーツ</span>
    <span class="label-info2">れナンバー</span>
    <span class="label-info3">現行モデル</span>
	  <a href="/"><img class="col-thumb" src="/lexus.jpg" width="400px" height="280px"></a>
	 &nbsp;&nbsp;<h5><span style="color:black">
   <p>PRICE:48,400円～</p><br>
    <h6 class="section-title-car"></h6>
   エクスチェンジドライブ（マンスリー）<br>
   Mプラン(月額)：430,000円～<br>
   車両ID：003<br>
   年式：2018年式<br>
   新車購入価格：1,400万円<br>
   <br>
  <a href="/" class="square_btn">車両詳細/お申し込み</a>
</div>

<div class="col">
	  <h4><span style="color:black">ベンツ</span></h4>
    <span class="label label-info">スポーツ</span>
    <span class="label-info2">れナンバー</span>
    <span class="label-info3">現行モデル</span>
    <span class="label-info4">4WD</span>
	  <a href="/"><img class="col-thumb" src="/benz.jpg" width="400px" height="280px"></a>
	 &nbsp;&nbsp;<h5><span style="color:black">
   <p>PRICE:48,400円～</p><br>
   <h6 class="section-title-car"></h6>
   エクスチェンジドライブ（マンスリー）<br>
   Uプラン(月額)：430,000円～<br>
   車両ID：004<br>
   年式：2018年式<br>
   新車購入価格：2,000万円<br>
   <br>
   <a href="/" class="square_btn">車両詳細/お申し込み</a>
</div>

  <div class="contact-form">
  </div>

  <div class="footer">
    <div class="footer-logo"><i class="fas fa-car"> CSN</i></div>
        <ul class="footer-list">
          <li><a href="/about">サービス</a></li>
          <li><a href="/about">ニュース</a></li>
          <li><a href="/about">料金</a></li>
          <li><a href="/about">ラインナップ</a></li>
          <li><a href="/about">会社概要</a></li>
          <li><a href="/about">採用情報</a></li>
          <li><a href="/about">お問い合わせ</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
