<head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

</head>

<header>
  <div class="header-logo">
    <a href="/"><img class="col-thumb" src="/cahtwork.jpg" width="400px" height="45px"></a>
  </div>
  <ul class="header-menus">
    <li><a href="/service">SERVICE</a></li>
    <li><a href="/news">NEWS</a></li>
    <li><a href="/price">料金</a></li>
    <li><a href="/about">ABOUT US</a></li>
    <li><a href="/recruit">RECRUIT</a></li>
    <li><a href="/contact">CONTACT</a></li>
  </ul>
</header>

<div class="main top-main">
  <div class="copy-container">
    <h3>本当にやるべき仕事に
    <br>
    集中できていますか？</h3>
    <p>ChatWork アシスタントは、面倒な業務をすべて任せられる<br>高品質なオンラインアシスタントサービスです。</p>
    <a href="/"><button type="button" class="btn btn-danger btn-lg">お問い合わせ</button></a>
  </div>

  <div class="contents">
    <h3 class="section-title"></h3>

  <div class="copy-container2">
    <h3>ChatWork アシスタントができること</h3>

    <div class="row" id="ads">
    <!-- Category Card -->
    <div class="col-md-4">
        <div class="card rounded">
            <div class="card-image">
            <h3>秘書・一般事務</h3>
                <img class="img-fluid" src="/sign.png" alt="Alternate Text" />
            </div>
            <div class="card-image-overlay m-auto">
            <ul>
              <li>スケジュール調整</li>
              <li>出張や会食の手配</li>
              <li>リサーチ業務など</li>
            </ul>
            </div>
            <div class="card-body text-center">
                <div class="ad-title m-auto">
                    <h5>Honda Accord LX</h5>
                </div>
                <a class="ad-btn" href="#">View</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card rounded">
            <div class="card-image">
            <h3>秘書・一般事務</h3>
                <img class="img-fluid" src="/sign.png" alt="Alternate Text" />
            </div>
            <div class="card-image-overlay m-auto">
            <ul>
              <li>採用面接調整</li>
              <li>データ作成補助</li>
              <li>勤怠管理など</li>
            </ul>
            </div>
            <div class="card-body text-center">
                <div class="ad-title m-auto">
                    <h5>Honda CIVIC HATCHBACK LS</h5>
                </div>
                <a class="ad-btn" href="#">View</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card rounded">
            <div class="card-image">
                <h3>秘書・一般事務</h3>
                <img class="img-fluid" src="/sign.png" alt="Alternate Text" />
            </div>
            <div class="card-image-overlay m-auto">
            <ul>
              <li>請求書発行</li>
              <li>振込・支払い代行</li>
              <li>記帳代行など</li>
            </ul>
            </div>
            <div class="card-body text-center">
                <div class="ad-title m-auto">
                    <h5>Honda Accord Hybrid LT</h5>
                </div>
                <a class="ad-btn" href="#">View</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card rounded">
            <div class="card-image">
                <h3>秘書・一般事務</h3>
                <img class="img-fluid" src="/sign.png" alt="Alternate Text" />
            </div>
            <div class="card-image-overlay m-auto">
            <ul>
              <li>請求書発行</li>
              <li>振込・支払い代行</li>
              <li>記帳代行など</li>
            </ul>
            </div>
            <div class="card-body text-center">
                <div class="ad-title m-auto">
                    <h5>Honda Accord LX</h5>
                </div>
                <a class="ad-btn" href="#">View</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card rounded">
            <div class="card-image">
                <h3>秘書・一般事務</h3>
                <img class="img-fluid" src="/sign.png" alt="Alternate Text" />
            </div>
            <div class="card-image-overlay m-auto">
            <ul>
              <li>請求書発行</li>
              <li>振込・支払い代行</li>
              <li>記帳代行など</li>
            </ul>
            </div>
            <div class="card-body text-center">
                <div class="ad-title m-auto">
                    <h5>Honda CIVIC HATCHBACK LS</h5>
                </div>
                <a class="ad-btn" href="#">View</a>
            </div>
        </div>
    </div>
    <br>
    <br>

    <div class="col-md-4">
        <div class="card rounded">
            <div class="card-image">
            <h3>秘書・一般事務</h3>
                <img class="img-fluid" src="/sign.png" alt="Alternate Text" />
            </div>
            <div class="card-image-overlay m-auto">
            <ul>
              <li>請求書発行</li>
              <li>振込・支払い代行</li>
              <li>記帳代行など</li>
            </ul>
            </div>
            <div class="card-body text-center">
                <div class="ad-title m-auto">
                    <h5>Honda Accord Hybrid LT</h5>
                </div>
                <a class="ad-btn" href="#">View</a>
            </div>
        </div>
    </div>
  </div>

<!-- 特徴 -->

  <div class="footer">
    <div class="footer-logo"><a href="/"><img class="col-thumb" src="/cahtwork.jpg" width="450px" height="48px"></a></div>
        <ul class="footer-list">
          <li><a href="/service">SERVICE</a></li>
          <li><a href="/news">NEWS</a></li>
          <li><a href="/price">料金</a></li>
          <li><a href="/about">ABOUT US</a></li>
          <li><a href="/recruit">RECRUIT</a></li>
          <li><a href="/contact">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
